<div class="row align-items-center justify-content-between">
    <div class="col-auto">
        <h5 class="h2">Followers</h5>
    </div>
    <div class="col-auto">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Followers
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Following
            </label>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
            https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                    https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                    https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                    https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
            <!-- set a width on the image otherwise it will expand to full width       
                    https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top-->
            <div class="media-container">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/600x600/cfcfcf/" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <p class="badge badge-dark"><span class="lead">@Username</span></p>
                <a href="#" class="btn btn-dark m-1 form-control disabled">Unblock</a>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-sm-4 -->
</div>