<header class="primary-shadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-flex flex-lg-row justify-content-lg-between" style="background: url('https://static.kent.ac.uk/nexus/ems/171.jpg')">
        <a class="navbar-brand" href="#">
            <h1>Pixogram</h1>
        </a>
        <div>
            <a routerLink="/account-details" *ngIf="invalidLogin" role="button" class="btn btn-outline-dark">Account</a>
            <a *ngIf="invalidLogin" role="button" class="btn btn-outline-dark ml-2" (click) = "logout()">Logout</a>
        </div>
    </nav>
</header>