<div class="card-text d-flex mb-2">
    <button class="btn btn-dark m-1 form-control">Browse</button>
    <button class="btn btn-dark m-1 form-control">Upload</button>
</div>
<div class="form-group row">
    <label for="title" class="col-3 col-form-label">Title</label>
    <div class="col-9">
        <input type="text" class="form-control" name="title" id="title">
    </div>
</div>
<div class="form-group row">
    <label for="description" class="col-3 col-form-label">Description</label>
    <div class="col-9">
        <input type="text" class="form-control" name="description" id="description">
    </div>
</div>
<div class="form-group row">
    <label for="tags" class="col-3 col-form-label">Tags</label>
    <div class="col-9">
        <input type="text" class="form-control" name="tags" id="tags">
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center lead">
        <button class="badge badge-dark m-1">Sepia</button>
        <button class="badge badge-dark m-1">Gray</button>
        <button class="badge badge-dark m-1">Brightness</button>
        <button class="badge badge-dark m-1">Contrast</button>
    </div>
</div>
<hr>