* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.menu {
  height: 100px;
  background-color: #B2D6FF;  
}


.article{
    margin: 0px auto;
    width:1200px;
    height:100%;
    overflow: hidden; 
}

.sidebarleft {
  height: 500px;
  background-color: #F09A9D;
  float: left;
  width: 200px;   
}

.content {

  position:relative;
  float: left;                  
  width: 650px;
  height: 500px;
  background-color: #F5CF8E;
}
p{
    padding:20px;
    text-align: center;
    font-family: sans-serif;
}
.button{
    position:absolute;
    bottom: 50%;
    background: #888;
    height: 10%; 
    width:20%;  
    left: 40%;  
}
.sidebarright {
  float:left;
  width: 200px;
  background-color: #F09A9D;
  height: 500px;   
}

.footer {
  
  height: 200px;
  background-color: #D6E9FE;
  transform: rotate(30);   
}