<div class="row">
    <div class="col-12">
        <form class="p-4">
            <div class="form-group row">
                <div class="col-8">
                    <input class="form-control mt-2 lead" type="search" placeholder="Search media, tags and users..."
                        aria-label="Search">
                </div>
                <div class="col-auto">
                    <a routerLink="/account-details/search" class="btn btn-dark mt-2 form-control">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>