<app-header></app-header>
<section class="container">
    <div class="row m-4">
        <div class="col mt-2 d-flex align-items-center justify-content-around" style="height: 70vh;">
            <div class="secondary-shadow bg-light p-4">
                <h5 class="h2">Sign-In</h5>
                <form class="pt-4" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="username" class="col-3">User Name</label>
                        <div class="col-9">
                            <input [(ngModel)]="username" type="text" class="form-control" name="username"
                                id="username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-3">Password</label>
                        <div class="col-9">
                            <input [(ngModel)]="password" type="text" class="form-control" name="password"
                                id="password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Sign-In</button>
                    <small *ngIf="invalidLogin" class="ml-3 text-danger">
                        Invalid Username/Password
                    </small>
                    <small class="ml-2 h6">
                        Don't have an account, <a routerLink="/register" class="text-success">Register</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</section>