<app-header [invalidLogin]="!invalidLogin"></app-header>

<section class="container">
    <div class="row m-4">
        <div class="col-lg-4 mt-2">
            <div class="sticky-top">
                <app-user-card></app-user-card>
                <div class="card text-center secondary-shadow mt-2">
                    <!-- <img src="./images/user-default-logo.png" class="card-img-top" alt=""> -->
                    <div class="card-body">
                        <p class="card-text d-flex flex-column">
                            <a routerLink="/upload-media" class="btn btn-dark m-1 form-control">Upload</a>
                            <a routerLink="/my-media-page" class="btn btn-dark m-1 form-control">My Media</a>
                            <a routerLink="/account-details/follow"
                                class="btn btn-dark m-1 form-control">Followers/Following</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-2">
            <div class="secondary-shadow bg-light p-4">
                <div class="row align-items-center justify-content-between d-flex flex-sm-column flex-md-row">
                    <div class="col-auto">
                        <h5 class="h2">Images & Videos</h5>
                    </div>
                    <div class="col-auto">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="!medias">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Images
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Videos
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> All
                            </label>
                        </div>
                    </div>
                </div>
                <div class="h5 text-center mt-3" *ngIf="!medias">No Images or Videos uploaded</div>
                <app-media-holder-card *ngFor="let media of medias" [mediaDetails] = "media"></app-media-holder-card>
            </div>
        </div>
    </div>
</section>